* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

a {
    color: unset;
    text-decoration: none;
}

button {
    cursor: pointer;
}

:root {
    --yellow: #FAFF00;
    --white: #FFFFFF;
    --gray: #222224;
    --black: #131313;
}

body {
    font-family: 'Roboto', sans-serif;
}

.card {
    padding: 2rem;
    background-color: var(--gray);
    border-radius: 10px;
    color: var(--white);
}

.card-1 {
    padding: 1rem;
    background-color: var(--gray);
    border-radius: 10px;
    color: var(--white);
}

.p-1 {
    padding: 1rem;
}

.bg-dark {
    background-color: var(--black);
}

.dashboard_sidebar {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}